:root {
    font-size: 10px;
}

#root {
    font-size: 1.6rem;
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "header" "main";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    overflow: auto;
}